@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@using PushNotificationClient.Class

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if ( (Installable) && (subscription == "browser") )
{
    <div class="row justify-content-center">
        <div class="install-prompt col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <span>Install app?</span>
            <button class="installButton btn btn-primary" @onclick="@(() => InstallClicked())">Yes</button>
            <button class="cancelButton btn btn-danger" @onclick="@(() => Installable = false)">No</button>
        </div>
    </div>}

@code
{
    static bool Installable = true;
    static Action OnInstallable;
    static string subscription;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

    }

    protected override void OnInitialized()
    {

        OnInstallable = () => InvokeAsync(StateHasChanged);
        EstaInstalado();
    }

    protected async Task EstaInstalado()
    {
        subscription = await JSRuntime.InvokeAsync<string>("DisplayMode.getPWADisplayMode");

    }

    [JSInvokable]
    public async Task InstallClicked()
    {
        await JSRuntime.InvokeVoidAsync("BlazorPWA.installPWA");
    }

}
